In [30]:
import pandas as pd
films = pd.read_csv('C:\\python\\pyda-22\\pandas2\\ratings.csv')

def clas(row):
    if row.rating.mean() <= 2:
        row['class'] = 'Низкий рейтинг'
    elif row.rating.mean() <= 4:
        row['class'] = 'Средний рейтинг'
    else:
        row['class'] = 'Высокий рейтинг'
    return row
    
films.groupby('movieId').apply(clas).sort_values(['movieId']).head()

       userId  movieId  rating   timestamp            class
9713       68        1     4.0  1194741818  Средний рейтинг
35933     261        1     1.5  1101665532  Средний рейтинг
52631     383        1     5.0   852806429  Средний рейтинг
35983     262        1     2.5  1433898798  Средний рейтинг
12038      77        1     4.0  1163005363  Средний рейтинг

In [87]:
keywords =  pd.read_csv('C:\\python\\pyda-22\\pandas2\\keywords.csv')

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

geo_data_1 = {}

for key in geo_data:
    for city in geo_data[key]:
        geo_data_1[city] = key

def geo(row):
    for key in geo_data_1:
        if key in row.keyword:
            row['region'] = geo_data_1[key]
    return row
keywords.apply(geo, axis=1).fillna('undefined').head()

         keyword     region     shows
0             вк  undefined  64292779
1  одноклассники  undefined  63810309
2          порно  undefined  41747114
3           ютуб  undefined  39995567
4      вконтакте  undefined  21014195