In [93]:
import pandas as pd
data1 = pd.read_csv('C:\\python\\pyda-22\\ml-latest-small\\ratings.csv')
data2 = pd.read_csv('C:\\python\\pyda-22\\ml-latest-small\\movies.csv')
data1 = data1.loc[data['rating'] == 5.0].groupby('movieId').count().sort_values('rating', ascending=False).head()
result = pd.merge(data1, data2, on = ['movieId'])
result['title'].head(1)

0    Shawshank Redemption, The (1994)
Name: title, dtype: object

In [92]:
dt = pd.read_csv('power.csv')
#отфильтруем по категориям
dt_1 = dt[(dt.category == 4) | (dt.category == 12) | (dt.category == 21)]
dt_1
#отфильтруем по странам
dt_2 = dt_1[(dt_1.country == 'Latvia') | (dt_1.country == 'Estonia') | (dt_1.country == 'Lithuania')]
#отфильтруем по годам
dt_3 = dt_2[(dt_2.year >= 2005) & (dt_2.year <= 2010)]
#отфильтруем по количеству
dt_4 = dt_3[(dt_3.quantity >= 0)]
print(f'Суммарное потребление стран Прибалтики = {sum(dt_4["quantity"])}')

Суммарное потребление стран Прибалтики = 240580.0

In [104]:
import pymysql
pd.read_html('https://fortrader.org/quotes')[5]

  Название      Цена  Изменение  Изменение(%)  Обновлено
0     FXIT  11 279.0    36.0000        0.3000        NaN
1     FXRU     961.5    -0.1000       -0.0000        NaN
2     FXDE   3 167.0    15.0000        0.5000        NaN
3     FXCN   3 730.0    18.5000        0.5000        NaN
4     FXGD    904.80    -1.2000       -0.1300        NaN
5     FXWO    1.8710    -0.0022       -0.1174        NaN

In [98]:
!python -m pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2